body {
    overflow: auto;
}

.wrapper {
    background-color: #FCFDF3;
}

.progressLine {
    height: 5px;
    width: 70%;
    background-color: #FDDB2F;
}

.backgroundImage {
    height: calc(100vh - 5px);
    margin-right: 163px;
}

.headerSection > h1 {
    font-size: 24px;
    font-weight: bold;
}

.headerSection > h4 {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 58px;
}

.flexSection {
    display: flex;
    position: relative;
}

.formSection {
    display: flex;
    flex-direction: column;
    margin-top: 210px;
    width: 100%;
    margin-right: 100px;
}

.nameInput {
    border: 0;
    background-color: #FCFDF3;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    width: 100%;
    padding: 9px;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #1F1F1F;
}

input::-webkit-input-placeholder {
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #C8C5C5;
}

input:focus, textarea:focus, select:focus{
    outline: none;
}

.errorMessage {
    margin-top: 20px;
    background-color: #FFF3F3;
    width: 154px;
    height: 39px;
    text-align: center;
    display: flex;
    justify-content: center;
    border-radius: 7px;
    display: flex;
    align-items: center;
}

.errorMessage > img {
    margin-right: 8px;
}

.submitButton {
    text-transform: uppercase;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 9px 25px;
    border-radius: 10px;
    background-color: #FDDB2F;
    border: 0;
    font-weight: bold;
    border: 1px solid #fff;
    cursor: pointer;
}

.submitButton > img {
    margin-left: 7px;
}

.submitSection {
    margin-top: 65px;
    background-color: #fff;
    height: 38px;
    width: 94px;
    padding: 2px 0 0 2px;
    border-radius: 10px;
    background-color: #FDDB2F;
}

.skip {
    color: #555555;
    font-size: 15px;
    position: absolute;
    top: 28px;
    right: 38px;
    cursor: pointer;
}